.mask_img {
  mask-image: linear-gradient(
    black 80%,
    transparent 98%
    )
}

.bg_rodilla {
  position: absolute;
  inset: 0;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 140%;
  opacity: 0.3;
  background-image: url('../images/bg_rodilla.avif');
}

@media screen and (min-width: 768px) {
  .bg_rodilla {
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 50%;
    background-size: 150%;
    background-position: center 100%;
  }
}

@media screen and (min-width: 834px) {
  .bg_rodilla {
    width: 60%;
    background-size: 130%;
  }
}

@media screen and (min-width: 1280px) {
  .bg_rodilla {
    background-size: 80%;
  }
}