/* Animación infinita */
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}

/* Pausar la animación al pasar el cursor */
.carousel-container:hover .carousel {
animation-play-state: paused;
}